{{define "sidebar"}}

<aside class="sidebar">

    <div class="sidebar-brand">
        <h2>Qonevo</h2>
        <p>Admin Dashboard</p>
    </div>

    <nav class="sidebar-nav">

        <a
            href="/dashboard"
            class="sidebar-link"
        >
            Dashboard
        </a>

        <a
            href="/products"
            class="sidebar-link"
        >
            Products
        </a>

        <!-- <a
            href="/products/create"
            class="sidebar-link"
        >
            Add Product
        </a> -->


    </nav>

</aside>

{{end}}